{{>header}}
  
{{>navbar}}
<!-- Main Body  -->
<div class="container main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure class="errImg">
                        <img src="./images/404.webp" alt="404" class="img-fluid" title="Error" >
                   </figure>
                   <p class="errorText">Welcom the Salil Gulati World</p>
                   <h1>OOPS!<span class="weather-clr"> 404 </span> Page Not Found.</h1>
                    <a href="/" class="btn btn-primary btn-lg">Go Back</a>
                </div>
            </div>
        </div>
    </div>    
</div>
<!-- Footer Code -->
{{>footer}}

