{{>header}}
  
{{>navbar}}

<!-- Main Body  -->
<div class="container">
    <div class="row">
        <div class="col-md-12 col-12 mx-auto">
            <div class="row">
                <div class="col-md-4 col-12 main_header_left align-item-center">
                   <figure>
                    <img src="./images/salil.png" alt="Gulati" class="img-fluid" title="Salil Gulati" >
                   </figure>
                </div>
                <div class="col-md-8 col-12 main_header_right">
                    <p>Salil Gulati</p>
                    <h1>I Am A<span class="weather-clr"> PHP - MERN STACK </span> Developer with 6 year Experiance</h1>
                </div>
            </div>
        </div>
    </div>    
</div>


{{>footer}}